@import "tailwindcss";



@font-face {
    font-family: "Harmond-SemiBoldCondensed";
    src: url(/public/fonts/Harmond-SemiBoldCondensed.otf);
}

@font-face {
    font-family: "round8-four";
    src: url(/public/fonts/round8-four.otf);
}

@font-face {
    font-family: "SuisseIntlCondTrial-Light";
    src: url(/public/fonts/SuisseIntlCondTrial-LightItalic.otf);
}

@font-face {
    font-family: "Perandory-Condensed";
    src: url(/public/fonts/Perandory-Condensed.otf);
}
* {
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

*::-webkit-scrollbar {
  display: none; 
}

::selection {
  background-color: #F93434;
  color: white;
}